.modal {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.6);
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    height: 800px;
    background-image: url("media/67.jpg");
    background-size: cover;
    background-position: center;
    padding: 0;
    overflow: auto; /* allow scrolling if needed */
}

#button-grid {
    display: grid;
    grid-template-columns: repeat(25, 1fr);
    gap: 0;
    width: 800px;
    height: 800px;
}

#button-grid button {
    font-size: 50px;
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.six-button
{
    height: 50px;
}
