.modal {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.6);
    align-items: center;
    justify-content: center;
}

#modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    height: 800px;
    background-image: url("media/67.jpg");
    background-size: cover;
    background-position: center;
    padding: 12px;
    overflow: auto; /* allow scrolling if needed */

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h3 {
    font-size: 50px;
}

#button-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 0;
    max-width: 800px;
}

#button-grid button {
    font-size: 50px;
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.six-button
{
    height: 50px;
}
